{%extends 'base2.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

<!-- Mediante un bloque agregamos el título de la clase padre -->
{%block title%}
<!-- Super se utiliza para tener los mismo datos -->
{{super()}}

<!-- Importante si ponemos  { % endblock %} no funciona por el especio-->
{% endblock %}




{%block  content%}

<!-- {% if userName %}
    <h1>Bienvendio usuario {{userName}}</h1>
    {% endif %} -->


<style>
    .titulo {
        cursor: pointer;
    }

    .contenido {
        display: none;
    }
</style>


<div class="container">
    <h1 style="text-align: center;" class="my-3 mb-3">
        Alojamiento en detalle
    </h1>
</div>

<div class="container">
    <h1 class="my-3">{{alojamiento.nombre}}</h1>
    <a href="{{ alojamiento.url_ubi }}" style="text-decoration: none; color: black;">
        {{alojamiento.direccion}}
    </a>


    <div class="row" id="galeria_imagenes">

        <div class="col-8" style="position: relative;">
            <button type="button" class="btn btn-primary ver-galeria-btn"
                style="position: absolute; bottom: 10px; right: 10px; z-index: 1;" data-id="{{ alojamiento.id }}">
                Ver todas las imágenes
            </button>
            <div>
                <img style="border-radius: 1rem;" src="{{ alojamiento.urlImg }}" class="d-block w-100" alt="...">
            </div>
        </div>



        <div class="col-4">
            <div>

                {% for imagenes in alojamiento.galeriaImagenes %}

                <img src="{{ imagenes.imagen1 }}" class="img_galeria mb-2 mx-2" alt="Imagen de alojamiento">
                <img src="{{ imagenes.imagen2 }}" class="img_galeria mb-2 mx-2" alt="Imagen de alojamiento">
                <img src="{{ imagenes.imagen3 }}" class="img_galeria mb-2 mx-2" alt="Imagen de alojamiento">
                <img src="{{ imagenes.imagen4 }}" class="img_galeria mb-2 mx-2" alt="Imagen de alojamiento">
                <img src="{{ imagenes.imagen5 }}" class="img_galeria mb-2 mx-2" alt="Imagen de alojamiento">
                <img src="{{ imagenes.imagen6 }}" class="img_galeria mb-2 mx-2" alt="Imagen de alojamiento">
                <img src="{{ imagenes.imagen7 }}" class="img_galeria mb-2 mx-2" alt="Imagen de alojamiento">
                <img src="{{ imagenes.imagen8 }}" class="img_galeria mb-2 mx-2" alt="Imagen de alojamiento">

                {% endfor %}


            </div>
        </div>

        <script>
            document.querySelectorAll('.ver-galeria-btn').forEach(item => {
                item.addEventListener('click', event => {
                    event.preventDefault();
                    const alojamientoId = item.getAttribute('data-id');
                    galeriaImagenes(alojamientoId);
                });
            });

            function galeriaImagenes(alojamientoId) {
                fetch(`/galeria_img/${alojamientoId}/`)
                    .then(response => response.text())
                    .then(html => {
                        document.getElementById('galeria_imagenes').innerHTML = html;
                        console.log('Detalles del alojamiento obtenidos exitosamente.');
                        // Redirigir a la página de detalles del alojamiento
                        window.location.href = `/galeria_img/${alojamientoId}/`;
                    })
                    .catch(error => console.error('Error:', error));
            }
        </script>

    </div>


    <div class="row mt-5">

        <div class="col-8">

            <h2 style="color: #465DA7; font-weight: bold;" class="mb-4">Información</h2>


            <div class="alojamiento_detalle col-12">
                <div class="icon-with-number">
                    <span class="material-symbols-outlined">bed</span>
                    <p style="color: black;" class="mt-2">{{ alojamiento.cama_matrimonio }} camas</p>
                </div>

                <div class="icon-with-number">
                    <span class="material-symbols-outlined ">bathtub</span>
                    <p style="color: black;" class="mt-2">{{ alojamiento.baño }} baño</p>
                </div>

                <div class="icon-with-number">
                    <span class="material-symbols-outlined ">
                        group
                    </span>
                    <p style="color: black;" class="mt-2">{{ alojamiento.capacidad }} húspedes</p>
                </div>

                <div class="icon-with-number" style="margin-right: 15px;">
                    <span class="material-symbols-outlined">
                        beach_access
                    </span>
                    <p style="color: black;" class="mt-2">{{ alojamiento.distancia_playa }} de la play</p>
                </div>
            </div>

            <div class="alojamiento_detalle col-12">

                <div class="icon-with-number" style="margin-right: 15px;">
                    <span class="material-symbols-outlined ">
                        restaurant_menu
                    </span>
                    <p style="color: black;" class="mt-2">{{ alojamiento.restaurante }} de los restaurantes</p>
                </div>

                <div class="icon-with-number">
                    <span class="material-symbols-outlined">
                        shopping_bag
                    </span>
                    <p style="color: black;" class="mt-2">{{ alojamiento.compra }} de las tiendas</p>
                </div>

                <div class="icon-with-number">
                    <span class="material-symbols-outlined">
                        wifi
                    </span>
                    <p style="color: black;" class="mt-2">Wifi incluido</p>
                </div>

            </div>

            <div>
                <h2 style="color: #465DA7; font-weight: bold;" class=" mb-4 mt-5">Sobre {{alojamiento.nombre}}</h2>
                <p>{{alojamiento.descripcion}}</p>
            </div>

            <div>

                <div class="titulo" onclick="toggleContenido('inf_extra', 'icono-1')">
                    <div class="row mb-5 mt-5">
                        <div class="col-10">
                            <h2 style="color: #465DA7;">Información extra</h2>

                        </div>

                        <div class="col-2" style="text-align: right;">
                            <span id="icono-1" class="material-symbols-outlined">expand_more</span>
                        </div>
                    </div>
                </div>


                <div class="contenido" id="inf_extra">

                    {% for informacion in alojamiento.informacionExtras %}
                    <div class="mb-5" style="display: flex; justify-content: space-between;">
                        <div style="flex: 1;">
                            <ul style="margin: 0;">
                                <li>Vistas a la {{informacion.vista}}</li>
                            </ul>
                        </div>
                        <div style="flex: 1;">
                            <ul style="margin: 0;">
                                <li>Piscina {{informacion.piscina}}</li>
                            </ul>
                        </div>
                        <div style="flex: 1;">
                            <ul style="margin: 0;">
                                <li>Superficie de {{informacion.superficie}} m</li>
                            </ul>
                        </div>
                    </div>
                    {% endfor %}


                </div>



            </div>


            <div>
                <div class="titulo" onclick="toggleContenido('inf', 'icono-2')">
                    <div class="row mb-5">
                        <div class="col-10">
                            <h2 style="color: #465DA7; font-weight: 500;">Información
                                alojamiento</h2>

                        </div>
                        <div class="col-2" style="text-align: right;">
                            <span id="icono-2" class="material-symbols-outlined">expand_more</span>
                        </div>
                    </div>

                </div>

                <div class="contenido" id="inf">
                    <div class="row mt-1">
                        <div class="col-2" style="margin-bottom: 5rem;">
                            <h3>Salon</h3>
                        </div>

                        <div class="col-10 mb-5" style="margin-bottom: 5rem;">

                            <div class="row">
                                {% for salon in alojamiento.carateristicasSalon %}
                                <div class="col-6">
                                    <li class="mb-3">{{ salon.tele }}</li>
                                    <li class="mb-3">{{ salon.conexion }}</li>
                                    <li class="mb-3">{{ salon.comedor }}</li>
                                </div>

                                <div class="col-6">
                                    <li class="mb-3">{{ salon.sillas }}</li>
                                    <li class="mb-3">{{ salon.ac }}</li>
                                    <li class="mb-3">{{ salon.sofa }}</li>
                                </div>
                                {% endfor %}
                            </div>
                        </div>



                        <div class="col-2" style="margin-bottom: 5rem;">
                            <h3>Cocina</h3>
                        </div>

                        <div class="col-10" style="margin-bottom: 5rem;">
                            <div class="row">
                                {% for cocina in alojamiento.caracteristicasCocina %}
                                <div class="col-6">
                                    <li class="mb-3">{{ cocina.horno }}</li>
                                    <li class="mb-3">{{ cocina.microondas }}</li>
                                    <li class="mb-3">{{ cocina.vitro }}</li>
                                </div>

                                <div class="col-6">
                                    <li class="mb-3">{{ cocina.lavaplatos }}</li>
                                    <li class="mb-3">{{ cocina.congelador }}</li>
                                </div>
                                {% endfor %}
                            </div>
                        </div>




                        <div class="col-2" style="margin-bottom: 5rem;">
                            <h3>Baño</h3>
                        </div>

                        <div class="col-10" style="margin-bottom: 5rem;">
                            <div class="row">
                                {% for bano in alojamiento.caracteristicasBano %}
                                <div class="col-6">
                                    <li class="mb-3">{{ bano.vater }}</li>
                                    <li class="mb-3">{{ bano.bidet }}</li>
                                    <li class="mb-3">{{ bano.secador }}</li>
                                </div>

                                <div class="col-6">
                                    <li class="mb-3">{{ bano.espejo }}</li>
                                    <li class="mb-3">{{ bano.ducha }}</li>
                                    <li class="mb-3">{{ bano.banera }}</li>
                                </div>
                                {% endfor %}
                            </div>
                        </div>


                        <div class="col-2" style="margin-bottom: 5rem;">
                            <h3>Dormitorio</h3>
                        </div>

                        <div class="col-10" style="margin-bottom: 5rem;">
                            <div class="row">
                                {% for dormitorio in alojamiento.caracteristicasDormitorio %}
                                <div class="col-6">
                                    <li class="mb-3">{{ dormitorio.cama }}</li>
                                    <li class="mb-3">{{ dormitorio.aire }}</li>
                                    <li class="mb-3">{{ dormitorio.ropero }}</li>
                                </div>

                                <div class="col-6">

                                </div>
                                {% endfor %}
                            </div>
                        </div>


                        <div class="col-2" style="margin-bottom: 5rem;">
                            <h3>Terraza</h3>
                        </div>

                        <div class="col-10" style="margin-bottom: 5rem;">
                            <div class="row">
                                {% for terraza in alojamiento.caracteristicasTerraza %}
                                <div class="col-6">
                                    <li class="mb-3">{{ terraza.mesa }}</li>
                                    <li class="mb-3">{{ terraza.sillas }}</li>
                                    <li class="mb-3">{{ terraza.toldo }}</li>
                                </div>

                                <div class="col-6">
                                    <li class="mb-3">{{ terraza.barbacoa }}</li>
                                    <li class="mb-3">{{ terraza.muebles }}</li>
                                </div>
                                {% endfor %}
                            </div>
                        </div>


                        <div class="col-2" style="margin-bottom: 5rem;">
                            <h3>Piscina</h3>
                        </div>

                        <div class="col-10" style="margin-bottom: 5rem;">
                            <div class="row">
                                {% for piscina in alojamiento.caracteristicasPiscina %}
                                <div class="col-6">
                                    <li class="mb-3">{{ piscina.muebles }}</li>
                                    <li class="mb-3">{{ piscina.tipo }}</li>
                                    <li class="mb-3">{{ piscina.tamano }}</li>
                                </div>

                                <div class="col-6">
                                    <li class="mb-3">{{ piscina.profundidad }}</li>
                                </div>
                                {% endfor %}
                            </div>
                        </div>

                    </div>
                </div>



            </div>




            <div>

                <div class="titulo" onclick="toggleContenido('ubi', 'icono-3')">
                    <div class="row mb-5">
                        <div class="col-10">
                            <h2 style="color: #465DA7; font-weight: 500;">Alojamiento
                                Ubicación</h2>
                        </div>
                        <div class="col-2" style="text-align: right;">
                            <span id="icono-3" class="material-symbols-outlined">expand_more</span>
                        </div>
                    </div>


                </div>

                <div class="contenido" id="ubi">
                    <div class="icon-with-number" style="margin-right: 15px;">
                        <span class="material-symbols-outlined">
                            beach_access
                        </span>
                        <p style="color: black;" class="mt-2">{{ alojamiento.distancia_playa }} de la play</p>
                    </div>

                    <div class="icon-with-number" style="margin-right: 15px;">
                        <span class="material-symbols-outlined ">
                            restaurant_menu
                        </span>
                        <p style="color: black;" class="mt-2">{{ alojamiento.restaurante }} de los restaurantes</p>
                    </div>

                    <div class="icon-with-number">
                        <span class="material-symbols-outlined">
                            shopping_bag
                        </span>
                        <p style="color: black;" class="mt-2">{{ alojamiento.compra }} de las tiendas</p>
                    </div>


                    <h3 class="mt-4 mb-3" style="color: #465DA7;">Airopuerto mas cercano</h3>
                    <p>Mahon Airoport</p>
                    <h3 class="mt-4 mb-3" style="color: #465DA7;">Descripción Ubicación</h3>
                    <p>{{ alojamiento.descripcionUbicacion}}</p>

                </div>


            </div>




            <div>
                <div class="titulo" onclick="toggleContenido('check-in', 'icono-4')">
                    <div class="row mb-5">
                        <div class="col-10">
                            <h2 class="titulo" style="color: #465DA7; font-weight: 500;">Check/in-Check/out</h2>
                        </div>
                        <div class="col-2" style="text-align: right;">
                            <span id="icono-4" class="material-symbols-outlined">expand_more</span>
                        </div>
                    </div>
                </div>

                <div class="contenido" id="check-in">
                    <div class="row mt-3">
                        <div class="col-1">
                            <div class="icon-with-number">
                                <span class="material-symbols-outlined">av_timer</span>
                            </div>
                        </div>
                        <div class="col-2">
                            <p style="color: #465DA7;">Check-in</p>
                            <p style="color: black;">15:00</p>
                        </div>
                        <div class="col-1">
                            <div class="icon-with-number">
                                <span class="material-symbols-outlined">av_timer</span>
                            </div>
                        </div>
                        <div class="col-2">
                            <p style="color: #465DA7;">Check-out</p>
                            <p style="color: black;">10:00</p>
                        </div>
                    </div>
                </div>
            </div>



            <div>
                <div class="titulo" onclick="toggleContenido('com', 'icono-5')">
                    <div class="row">
                        <div class="col-5">
                            <h2 style="color: #465DA7; font-weight: 500;">Comentarios</h2>
                        </div>

                        <div class="col-5">
                            <h2 style="text-align: right;">Puntuación media:
                                {{ alojamiento.calcular_media_puntuacion() }}/10</h2>
                        </div>
                        <div class="col-2" style="text-align: right;">
                            <span id="icono-5" class="material-symbols-outlined">expand_more</span>
                        </div>
                    </div>
                </div>





                <div class="row align-items-start contenido" id="com">
                    <div class="col-4">
                        <div class="card">
                            {% for comentario in alojamiento.comentarios %}
                            <div class="row mt-3">
                                <div class="punt_com col-4">
                                    <h4 style="text-align: center; color: white;">{{ comentario.puntuacion }}</h4>
                                </div>
                                <div class="col">
                                    <h4 class="mt-3"
                                        style="text-transform: uppercase; color: #465DA7; font-weight: bold;">
                                        {{ comentario.nombre }}</h4>
                                </div>
                            </div>



                            <p class="mt-3">{{ comentario.descripcion }}</p>

                            {% endfor %}
                        </div>

                    </div>
                </div>

            </div>






        </div>








        <div class="col-4 check-in">
            <div class="aloj_inf">
                <div class="aloj_inf2">
                    <form action="">
                        <div class="form-row">
                            <div class="form-group ml-2 mr-2" style="margin-bottom: 0.5rem; width: 100%;">
                                <label for="fecha1" class="form-control-label">Inicio</label>
                                <input type="date" id="fecha_inicio2"
                                    name="fecha_inicio" class="form-control" onchange="obtenerFecha()"
                                    style="font-size: 1.3rem;">
                            </div>

                            <div class="form-group ml-2 mr-2" style="margin-bottom: 0.5rem; width: 100%;">
                                <label for="fecha2" class="form-control-label">Final</label>
                                <input type="date" id="fecha_final2"
                                    name="fecha_final" class="form-control" onchange="obtenerFecha()"
                                    style="font-size: 1.3rem;">
                            </div>

                            <div class="form-group ml-2 mr-2" style="width: 100%;">
                                {{ form.personas.label(class="form-control-label") }}
                                {{ form.personas(class="form-control", 
                        style="
                        padding-left: 0.7rem;
                        font-size: 1.3rem;
                        margin-bottom: 0;
                        height:  4rem;
                        padding: 1.2rem 1rem 1.2rem 1rem;
                        border: 1px solid #e1e1e1;
                        margin-bottom: 12px;
                        border-radius: 4px;
                        background-repeat: no-repeat;
                        background-size: 16px;
                        background-position: right 0.7rem center;") }}
                            </div>


                            <div class="form-group ml-2 mr-2" style="width: 100%;" id="div_reserva">
                                <label for="precio">Precio: <div id="precio">
                                    </div> </label>
                                <button class="btn btn-primary" id="btn-reservar" style="width: 100%;"
                                    data-id="{{ alojamiento.id }}">Reservar</button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>


        </div>


    </div>


    <script>
        document.addEventListener('DOMContentLoaded', () => {
            // Función para obtener los parámetros de la URL
            function getParameterByName(name) {
                const urlParams = new URLSearchParams(window.location.search);
                return urlParams.get(name);
            }
    
            const checkIn = getParameterByName('check_in');
            const checkOut = getParameterByName('check_out');
            const precio = getParameterByName('precio');
    
            // Asignar los valores obtenidos a los elementos HTML correspondientes
            document.getElementById('fecha_inicio2').value = checkIn || '';
            document.getElementById('fecha_final2').value = checkOut || '';
            document.getElementById('precio').textContent = precio ? `${precio} €/Noche` : 'No disponible';
        });
    </script>



    <script>
        document.querySelectorAll('#btn-reservar').forEach(item => {
            item.addEventListener('click', event => {
                event.preventDefault();

                const alojamientoId = item.getAttribute('data-id');
                const check_in = document.getElementById("fecha_inicio2").value;
                const check_out = document.getElementById("fecha_final2").value;

                const precioElement = document.getElementById('precio').textContent.trim();

                if (isNaN(parseFloat(precioElement))) {
                    console.error("El precio no es un número válido:", precioElement);
                    alert("Ocurrió un error con el precio. Por favor, revisa las fechas.");
                    return;
                }

                const precio = parseFloat(precioElement);

                // Redirigir a la página de reserva con los parámetros en la URL
                window.location.href =
                    `/reservar/${alojamientoId}?check_in=${check_in}&check_out=${check_out}&precio=${precio.toFixed(2)}`;
            });
        });
    </script>



    <script>
        function obtenerFecha() {
            // Obtener el valor del campo de fecha
            var fecha_inicio = document.getElementById('fecha_inicio2').value;
            var fecha_final = document.getElementById('fecha_final2').value;

            // Mostrar las fechas en la consola
            console.log("Fecha de inicio:", fecha_inicio);
            console.log("Fecha final:", fecha_final);

            // Convertir las cadenas de texto en objetos Date
            var fechaInicioParts = fecha_inicio.split('-');
            var fechaInicio = new Date(fechaInicioParts[0], fechaInicioParts[1] - 1, fechaInicioParts[2]);

            var fechaFinalParts = fecha_final.split('-');
            var fechaFinal = new Date(fechaFinalParts[0], fechaFinalParts[1] - 1, fechaFinalParts[2]);

            // Verificar si las fechas son válidas
            if (isNaN(fechaInicio.getTime()) || isNaN(fechaFinal.getTime())) {
                console.log("Las fechas ingresadas son inválidas.");
                // Mostrar mensaje de error en el campo de precio
                document.getElementById('precio').textContent = "Fechas ingresadas inválidas";
                return;
            }

            // Verificar si la fecha final es anterior a la fecha de inicio
            if (fechaFinal < fechaInicio) {
                console.log("¡Fechas incorrectas! La fecha de salida no puede ser anterior a la fecha de entrada.");
                // Mostrar mensaje de error en el campo de precio
                document.getElementById('precio').textContent =
                    "La fecha de salida no puede ser anterior a la fecha de entrada";
                return;
            }

            // Calcular la diferencia en días entre las fechas
            var diffTiempo = fechaFinal.getTime() - fechaInicio.getTime();
            var diffDias = Math.ceil(diffTiempo / (1000 * 3600 * 24));

            console.log(diffDias);

            // Obtener el precio por noche del alojamiento
            var precioPorNoche = parseFloat('{{alojamiento.precio_por_noche}}');

            // Calcular el precio total
            var precioTotal = diffDias * precioPorNoche;

            // Mostrar el precio total en el campo correspondiente
            document.getElementById('precio').textContent = precioTotal.toFixed(2);
        }
    </script>




    <script>
        function toggleContenido(id, iconoId) {
            var contenido = document.getElementById(id);
            contenido.style.display = contenido.style.display === 'none' ? 'block' : 'none';

            // Cambiar el ícono
            var icono = document.getElementById(iconoId);
            if (contenido.style.display === 'none') {
                icono.innerText = 'expand_more';
            } else {
                icono.innerText = 'expand_less';
            }
        }
    </script>













    {% endblock %}